<footer class="footer mt-auto py-3 bg-light text-center" th:fragment="footer-fragment">
  <div class="container">
    <span class="text-muted">© 2025 Cleaning Platform. All Rights Reserved.</span>
  </div>
</footer>

<div th:fragment="script-fragment">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/jquery-timeago@1.6.7/jquery.timeago.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-timeago@1.6.7/locales/jquery.timeago.ko.js"></script>

  <script>
    $(document).ready(function() {
      jQuery.timeago.settings.strings = jQuery.timeago.localeSettings.ko;
      $(".timeago").timeago();
    });
  </script>
</div>